{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title_content %}
{{ post.title }}
{% endblock title_content %}


{% block body_content %}
<!-- Post Content Column -->
<div class="col-lg-8">

	<!-- Title -->
	<h1 class="mt-4">{{ post.title }}</h1>
	<!-- Author -->

	<div class="publish_date float-left">
		<h3 class="small">Posted on {{ post.publish }} by
			<a href="https://saileshkush95.github.io/">{{ post.author }}</a></h3>
	</div>
	<div class="updated_date float-right">
		<h3 class="small">Updated on {{ post.updated_preety }}</h3>
	</div>
	<br>
	<hr>
	<h4 class="small">
		Share This Post
	</h4>
	<a href="{% url 'blog:post_share' post.id %}">
		<button type="button" class="btn btn-primary btn-sm"><i class="fas fa-envelope"></i></button>
	</a>
	<button type="button" class="btn btn-primary btn-sm"><i class="fab fa-facebook-f"></i></button>
	<button type="button" class="btn btn-primary btn-sm"><i class="fab fa-facebook-f"></i></button>
	<button type="button" class="btn btn-primary btn-sm"><i class="fab fa-instagram"></i></button>
	<button type="button" class="btn btn-primary btn-sm"><i class="fab fa-twitter"></i></button>
	<hr>

	<!-- Preview Image -->

	{% if post.image %}
	<img class="img-fluid rounded" src="{{ post.image.url }}" alt="">
	{% else %}
	{% endif %}


	<!-- Post Content -->
	<p class="lead">{{ post.body | safe }}</p>

	<!-- Comment Counter -->

	<div class="dropdown-divider"></div>
	{% with comments.count as total_comments %}
	<h3>
		{{ total_comments }} comment{{ total_comments|pluralize }}
	</h3>
	{% endwith %}
	<div class="dropdown-divider"></div>


	<!-- Comments Form -->
	<div class="card my-4">
		<h5 class="card-header">Leave a Comment:</h5>
		<div class="card-body">
			{% if new_comment %}
			<h2 class="small">Your comment has been added.</h2>
			<form action="." method="post">
				{% csrf_token %}
				{{ comment_form|crispy}}
				<p><input type="submit" value="Add comment"></p>
			</form>
			{% else %}
			<form action="." method="post">
				{% csrf_token %}
				{{ comment_form|crispy}}
				<button type="submit" value="Add Comment" class="btn btn-primary">Add Comment</button>
				<!-- <p><input type="submit" value="Add comment"></p> -->
			</form>
			{% endif %}
		</div>
	</div>

	{% for comment in comments %}
	<!-- Single Comment -->
	<div class="media mb-4">
		<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
		<div class="media-body">
			<h5 class="mt-0">{{ comment.name }}</h5>
			<small>
				<p>{{ comment.publish }}</p>
			</small>
			{{ comment.body }}
		</div>
	</div>
	{% empty %}
	<p> There no comment yet.</p>
	{% endfor %}

	<!-- Comment with nested comments -->
	<!-- <div class="media mb-4">
		<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
		<div class="media-body">
			<h5 class="mt-0">Commenter Name</h5>
			Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
			odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
			fringilla. Donec lacinia congue felis in faucibus.

			<div class="media mt-4">
				<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
				<div class="media-body">
					<h5 class="mt-0">Commenter Name</h5>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
					odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
					fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>

			<div class="media mt-4">
				<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
				<div class="media-body">
					<h5 class="mt-0">Commenter Name</h5>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
					odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
					fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>

		</div>
			
	</div> -->
</div>
<!-- /.container -->
{% endblock body_content %}

<!-- This is for the similar post -->

{% block sidebar_similar_content %}
<!-- Similar Post Widget -->
<div class="card my-4">
	<h5 class="card-header">Similar Post</h5>
	<div class="card-body">
		<div class="row">
			<div class="col">
				<ul class="list-unstyled mb-0">
					{% for post in similar_posts %}
					<li>
						<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
					</li>
					{% empty %}
					There is no similar post yet.
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>

{% endblock sidebar_similar_content %}